# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
debug.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django/Flask/FastAPI
*.log
local_settings.py
instance/
.webassets-cache
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# pyenv / pipenv / poetry
.python-version
Pipfile.lock
poetry.lock

# mypy / pytype
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/

# -------------------------
# Node / React (MERN)
# -------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# React build
/build
/.cache
/.parcel-cache

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# -------------------------
# IDEs & OS
# -------------------------
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
Desktop.ini

# -------------------------
# Virtual Env
# -------------------------
.venv/
venv/